.main-button-success{
    display: flex;
    flex-direction: row;
    padding: 15px 40px;
    font-size: 18px;
    color: $color-light;
    background-color: $color-red;
    width: max-content;
    height: max-content;
    border-radius: 6px;
    gap:10px;
}