.main-body-title {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 10px 0 50px 0;
    gap: 20px;

    * {
        font-size: 24px;
        color: $color-light;
        text-shadow: 0 .5px 2px $color-dark;
        letter-spacing: 0.5px;
    }

    .main-body-select-field{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:15px;
        * {    
            font-size: 16px;
        }
    }

    @media (max-width: 992px) {
        flex-direction: column;
        margin: 0 0 30px 0;
        gap: 20px;    
        * {
            font-size: 22px;
        }
        .main-body-select-field{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:20px;
            span {
                display: none;
            }
        }
    }
}


// span {
//     font-size: 40px;
//     margin: 0;
//     padding: 0;
// }

// .select-field {
//     font-size: 35px;
//     padding: 7.5px 40px 7.5px 20px;
//     border-radius: 6px;
//     border: 2px solid rgba(255, 255, 255, 0.7);
//     position: relative;
//     opacity: 0.85;
//     transition: all .1s ease-in-out;
//     cursor: pointer;

//     &::after {
//         top: 50%;
//         right: 12.5px;
//         font-weight: 300;
//         content: "\25BE";
//         position: absolute;
//         font-size: 25px;
//         transform: translateY(-50%);
//         -webkit-transform: translateY(-50%);
//         -moz-transform: translateY(-50%);
//     }

//     &:hover {
//         opacity: 1;
//     }
// }

