.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: darken($color-dark, 10%);
    .header-logo{
        height: 50px;
        img {
            height: 50px;
        }
    }

    .header-items{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        .header-item {
            font-size: 18px;
            color: darken($color-light, 30%);
            &.active {
                color: $color-light;
            }
            &:hover {
                color: $color-light;
            }
        }
    }
    @media (max-width: 992px) {
        .header-items{
            display: none;
        }
        .header-logo{
            margin: auto;
        }
    }
}