.main-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    padding: 60px 20px;
    background-color: $color-dark;
    .footer-logo{
        width: 120px;
        height: 100px;
        img {
            height: 100px;
        }
    }

    .footer-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 120px;
        .footer-item {
            font-size: 18px;
            color: $color-light;
        }
    }
}