.main-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 20px;
    margin-top: auto;

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 -5px 20px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    
    .footer-logo{
        width: 120px;
        height: 60px;
        img {
            height: 60px;
        }
    }

    .footer-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 120px;
        .footer-item {
            font-size: 18px;
            color: $color-light;
        }
    }

    @media (max-width: 992px) {
        .footer-logo {
            height: 35px;
            img {
                height: 35px;
            }
        }
    }
}