/* GLOBAL VARIABLES */
$color-light: #FFFFFF;
$color-dark: #080d1f;
$color-dark-1: lighten($color-dark, 2%);

$light-gradient: radial-gradient(ellipse at left, lighten($color-dark, 40%), transparent),
    radial-gradient(ellipse at right, lighten($color-dark, 40%), transparent);

$dark-gradient: radial-gradient(ellipse at left, $color-dark, lighten($color-dark, 20%)),
    radial-gradient(ellipse at right, $color-dark, lighten($color-dark, 20%));

/* IMPORTS */
@import "./components/Layout/Body/index";
@import "./components/Layout/Header/index";
@import "./components/Layout/Footer/index";
@import "./components/Content/Charts/index";
@import "./components/Content/ContentHeader/index";

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: background-color .3s ease;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    flex: 1 0;
    min-height: 100vh;
    background: $light-gradient;
}

/* DARK THEME */
.dark {
    background: $dark-gradient;

    .main-header {
        background: rgba(255, 255, 255, 0.02);
        box-shadow: 0 0px 40px rgba($color-dark-1, 0.5);

        .header-items .header-item {
            color: darken($color-light, 30%);

            &.active,
            &:hover {
                color: $color-light;
            }
        }
    }

    .main-body {
        background-color: transparent;
    }

    .main-footer {
        background: rgba(255, 255, 255, 0.02);
        box-shadow: 0 0px 40px rgba($color-dark-1, 0.5);

        .footer-items .footer-item {
            color: $color-light;
        }
    }

    .temperature-chart {
        background-color: lighten($color-dark, 20%);

        .chart-title .chart-title-text {
            color: $color-light;
        }
    }
}