.main-body{
    padding: 40px;
    background: rgba(#fff, 0.25);
    min-height: calc(100vh - 380px);
    * {
        color: $color-light;
    }

    @media (max-width: 992px) {
        padding: 30px 20px;
    }
}